.role-settings {
  form {
    .submit-col {
      margin-top: 2.5em;
    }
  }
  h3 {
    color: #f9a826;
  }
  .role {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f9a826;
    background-color: rgba(254, 197, 115, 0.06);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      margin: 0;
    }

    & > span {
      span {
        cursor: pointer;

        &.edit {
          color: #728191;
        }

        &.delete {
          color: rgb(247, 56, 56);
        }
      }
    }
  }
}
