@import url("https://fonts.googleapis.com/css2?family=Lancelot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.header {
  text-align: center;
  color: #d4ac0d;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.form {
  background-color: #728191;
  padding: 36px;
}
.button {
  color: #d4ac0d;
}
.content {
  padding: 15px;
}
.heading {
  background-color: g#e2e2e2;
}
.btns {
  margin-top: -4px;
  color: white;
}
