.login_image {
  width: 100%;
}
.login_form {
  background-color: #e1e1e1;
  border-radius: 10px;
}

.sub_title {
  text-align: center;
  color: #f9a826;
}
h1 {
  font-family: "Calibri" !important;
  text-align: center;
}
.small {
  width: 50px;
  height: 50px;
}

.form_part {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social_link {
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  border: gray 1px solid;
  border-radius: 10px;
  margin: 10px;
}
.social_link:hover {
  text-decoration: none;
  border: #f9a826 1px solid;
  color: #f9a826;
}
.social_login {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: -5px;
}

button {
  border-radius: 2px;
  border: 0;
  outline: none;
  padding: 5px;
  margin: 5px;
}

.container-login {
  margin-top: 20px;
  min-height: 25vh;
}
.login {
  background-color: #e9ecef;
  height: 400px;
  padding: 10px;
}
