.login_image {
  width: 100%;
}
.login_form {
  background-color: #e1e1e1;
  border-radius: 10px;
}

.sub_title {
  text-align: center;
  color: #f9a826;
}
h1 {
  font-family: "Calibri" !important;
  text-align: center;
}
.small {
  width: 50px;
  height: 50px;
}

.form_part {
  padding-top: 10px;
  padding-bottom: 10px;
}
.social_login {
  width: 170px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
}

button {
  border-radius: 2px;
  border: 0;
  outline: none;
  padding: 5px;
  margin: 5px;
}

.container-login {
  margin-top: 60px;
  min-height: 65vh;
}
.login {
  background-color: #e9ecef;
  height: 400px;
  padding: 10px;
}
