@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .app {
    background-color:variables.$mainBgColor;
    font-family: variables.$textFont;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
  }
  .signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 3em;
    width: 90%;
    img {
      height: 100%;
      width: 100%;
    }
    h1 {
      color: #f9a826;
      font-size: 2rem;
    }
  
    h3 {
      font-size: 1.3rem;
      color: #f9a826;
    }
  }

