@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$btnBgColor:#957F7F;
$navFooterColor: #728191;  
$mainTextColor: #D4AC0D;
$mainBgColor: #FBFCFC;
$textFont: 'Lato', sans-serif;
$titleFont: "Lancelot", cursive;
$tableHeaderColor: #5DADE2;
